*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body{
    padding-top: 60px;
    background-size: cover;
    background-color: #efefef
    
}
.wrapper{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

nav{
    display: flex;
    align-items: center;
    height: 65px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 224, 85, 0.822);
 
}
.container-fluid{
    display: flex;
    background-color: rgba(255, 224, 85, 0.728);
    margin-top: -5px;
}

.container, .container-md, .container-sm {
    max-width: 1500px;
}

#navbarCollapse a{
    font-size: 20px;
    color: #000000;
}

#navbarCollapse .dropdown-menu a{
    font-size: 16px;
}
.nav-left, .d-flex{
    display: flex; 
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
span, .navbar-toggler-icon{
    background-color: #9292925b;
    border-radius: 10%;
}

.d-flex{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.d-flex img{
    width: 25px;
}
.d-flex input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.d-flex button{
    border: none;

}


.container{
    justify-content: space-between;
}

.left-sidebar{
    padding-right: 5%;
    flex-basis: 20%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.main-content {
    flex-basis: 100%;
    flex-wrap: wrap; /* 複数行になるように設定 */
    gap: 20px; /* 要素間の余白を指定 */
    justify-content: space-between; /* 要素を横方向に均等に配置 */
}
.imp-links a, .shortcut-links a{
    text-decoration:none ;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.828);
    width: fit-content;
}

.imp-links a img{
    width: 25px;
    margin-right: 15px;

}
/* .imp-links a:last-child{
    color:#73247acc;
} */
.imp-links{
    border-bottom: 1px solid #ccc;

}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;

}
.shortcut-links p{
    margin:25px;
    color: #626262;
    font-weight: 500;
}
.event-bar{
    padding: 10px;
    margin-bottom: 5px;
    background-color: white;
    color: #626262;
    border-radius: 10px;
}
.eventbar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.eventbar-title h4{
    font-weight: 600;
    font-size: 16px;
}
.eventbar-title a{
    text-decoration: none;
    color: #73247acc;
    font-size: 12px;
}
.event {
    display: flex;
    font-size: 12px;
    margin-bottom: 20px;
}
.event h3{
    font-size: 12px;
}
.left-event{
    border-radius: 10px;
    height: 75px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.event p{
    font-size: 12px;
    
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #73247acc;
}

.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background:url(../images/background.jpg);
    font-size: 10px;
    color: rgb(12, 11, 11);
    padding: 2px 0;
}
.write-post-container{
    width: 80%;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin-left: 10%;
    align-items: center;
}

.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right:10px ;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.post-input-container{
    padding-top: 10px;
    padding-left: 55px;
}
.post-input-container textarea{
    width: 100%;
    height: 20px;
    border: 0;
    outline: 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.add-post-links{
    display: flex;
    margin-top: 10px;
    margin-left: 80%;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 0px;
    font-size: 13px;

}

.add-post-links a img{
    width: 20px;
    margin-right: 10px;

}
.post-container{
    width: 100%;
    background: #fff;
    /* border-radius: 6px; */
    padding: 10px;
    color: #626262;
    box-sizing: border-box;
    margin: 20px 0;

}
.left-post-contents{
    flex-basis: 30%;
    position: sticky;
    top: 70px;
    align-self: flex-start;

    
}
.main-contents{
    flex-basis: 30%;
    margin: 20px;

}
.right-post-contents{
    flex-basis: 30%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;

}
.post-text{
    color: #626262;
    font-weight: 500;

}
.post-text a{
    color: #73247acc;
    text-decoration: none;

}
.post-img {
    object-fit: cover; /* 画像を均等に拡大または縮小して表示 */
    object-position: center; /* 画像の表示位置を中央に設定 */
    height: 400px; /* 画像の高さを調整（適切な高さに調整してください） */
    width: 100%; /* 幅は親要素に合わせて100%に設定 */
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row {
    --bs-gutter-x: 0.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) );
    margin-left: calc(var(--bs-gutter-x) );
}
.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
 #likeButton{
    border: none;
    background-color: transparent;
    cursor: pointer;
 }
 .like-button{
    background-image: url(../images/clickedfire.png);
    width: 17px;
    height: 17px;
 }
 .span, #likeCount{
    background-color: transparent;
 }
 .not-liked{
    background-image: url(../images/fire.png);
    width: 17px;
    height: 17px;

 }


.dropdown-item .settings-icons{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

.help-content{
    display: flex;
}

.help-post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 40px;

}
.help-post-container h3{
    font-size: 30px;
    text-align: center;
}
.help-post-container h2 {
    font-size: 28px;
}
.help-post-container a{
    text-decoration: none;
    color:#ffda01;
}

.header_wrapper{
    width: 100%;

}
.header_wrapper .cols_container .left_col{
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
}
.header_wrapper .cols_container .left_col .img_container{
    top: -50%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    padding-left: 80%;
}

.header_wrapper .cols_container .left_col .img_container img{
    width: 120px;
    height: 120px;
    object-fit: 50%;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.2);

}

.header_wrapper .cols_container .left_col h2{
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
    
}

.header_wrapper .cols_container .left_col p{
    font-size: 0.9em;
    color: #818181;
    margin: 0;
}

.header_wrapper .cols_container .left_col .about{
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
}

.header_wrapper .cols_container .left_col .about li{
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9em;

}

.header_wrapper .cols_container .left_col .about li span {
    color: black;
    font-weight: 600;

}

.header_wrapper .cols_container .left_col .about::after{
    content: "";
    bottom: -16px;
    display: black;
    background:#ccc;
    height: 1px;
    width: 100%;
}

.header_wrapper .cols_container .content p{
    font-size: 1em;
    color: black;
    line-height: 1.8em; 
}
.social-icon ul {
    position: relative;
    display: flex;
    /* align-items: center; */
}
.social-icon ul li {
    position: relative;
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
}
.social-icon ul li a {
    text-decoration: none;
}
.social-icon ul li a .fa-brands {
    font-size: 30px;
    color: #222;
}
.social-icon ul li a::before {
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.social-icon ul li:nth-child(1) a::before {
    content: "\f16d";
    background-image: linear-gradient(45deg, 
      #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
      #bc1888 100%);
    background-clip: text; 
    color: transparent; 
    border-bottom: 3px solid #dc2743;
}
.social-icon ul li:nth-child(3) a::before {
    content: "\f0d2";
    color: #E60023;
    border-bottom: 3px solid #E60023;
}
.social-icon ul li:nth-child(2) a::before {
    content: "\f099";
    color: #1DA1F2;
    border-bottom: 3px solid #1DA1F2;
}
.social-icon ul li:hover a::before {
    margin-top: -7px;
    height: 110%;
}
.header_wrapper .cols_container .content ul{
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.header_wrapper .cols_container .content ul li{
    font-size: 1.3em;
}

/* .header_wrapper .cols_container .right_col nav{
    display: flex;
    align-items: center;
    padding: 30px 0 ;
    justify-content: space-between;
    flex-direction: column;
} */
.header_wrapper .cols_container .left_col nav ul{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.header_wrapper .cols_container .left_col nav ul li a{
    text-transform: uppercase;
    color: #818181;
}


/* .header_wrapper .cols_container .left_col nav ul li:nth-child(1) a{
    color: #1d1d1d;
    font-weight: 600;
} */

.header_wrapper .cols_container .left_col nav button:hover{
    opacity: 0.8;
}
.header_wrapper .cols_container .photos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
    gap: 8px;
    margin-bottom: 10px;
}

  .setting-content {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  /* help-post-containerクラス */
  .setting-post-container {
    margin-bottom: 20px;
  }
  
  .setting-post-container ul li a {
    color: #616161;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    content: none;
  }
  
    .setting-post-container img{
    width: 180px;
    height: 180px;
    border: 2px solid #e1e1e1;
    border-radius: 180%;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
}

    .setting-post-container ul li a:hover {
    text-decoration: none;
    color: #ffcd04;
  }
  
  .label {
    margin-right: 10px;
  }

  .submit {
    text-align: center;
  }
  
  .btn_type01 {
    padding: 10px 20px;
    background-color:rgba(255, 224, 85, 0.612);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 1em;
  }
  
  .btn_type01:hover {
    background-color: rgb(254, 221, 74);
  }


.notification-btn {
    font-size: 20px; 
}

.setting-post-container {
    padding: 20px;
    border-radius: 8px;
}

.setting-post-container ul {
    list-style: none;
    padding: 0;
}

.setting-post-container li {
    margin-bottom: 15px;
}

.setting-post-container .label {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.setting-post-container input[type="radio"] {
    display: none;
}

.setting-post-container input[type="radio"] + .label {
    background-color: #eee;
    color: #333;
}

input[type="radio"]:checked + .label {
    background-color: rgba(235, 197, 29, 0.561);
    color: #fff;
}


.col-md-12 .form-group .input-box input[type="file"]{
    display: none;
}

.form-group .input-box label{
    display: inline-flex;
    text-transform:uppercase;
    color: white;
    background-color: #ffaf01;
    text-align: center;
    padding: 10px 40px 10px 30px;
    font-size: 16px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    margin-left: 25px;

 }


 .photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px; 
    margin: -10px 5px 50px 5px; 
    justify-content: center;
    
}

.photos img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
}

/* .preview-image {
    max-width: 100%; 
    height: auto; 
    border-radius: none; 
    margin: 10px auto; 
}
  
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgba(255, 224, 85, 0.822);
    text-align: center;
}
footer, p{
    /* text-align: center; */
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 0;
} 
  
.help_link a {
    color: rgb(135, 135, 135);
    text-decoration: none;
    margin: 0 10px;
}
  
.help_link a:hover {
    color: black; 
}

.main-sidebar {
    float: center; 
    width: 100%; 
    padding: 10px;
  }
  
  .setting-links {
    margin-top: 20px; 
  }
  
  .setting-links h5 {
    margin-bottom: 10px; 
  }
  
  .setting-links p {
    margin: 5px 0; /* リンク間の余白を設定 */
  }
  
  .setting-links a {
    text-decoration: none; /* リンクの下線を削除 */
    color: #333; /* リンクの色を設定 */
  }
  
  .setting-links a:hover {
    color: #f0e623; /* ホバー時のリンクの色を変更 */
  }