*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}



body{
    padding-top: 60px;
    background-size: cover;
    background-color: #efefef
    
}
.wrapper{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

nav{
    display: flex;
    align-items: center;
    height: 65px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
 
}
.container-fluid{
    display: flex;
    background-color: rgba(255, 255, 255, 0.728);
    margin-top: 0;
}

.container, .container-md, .container-sm {
    max-width: 2000px;
}

    
#navbarCollapse a{
    font-size: 20px;
    color: #000000;
}

#navbarCollapse .dropdown-menu a{
    font-size: 16px;
}
.nav-left, .d-flex{
    display: flex; 
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
span, .navbar-toggler-icon{
    background-color: #9292925b;
    border-radius: 10%;
}

.d-flex{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.d-flex img{
    width: 25px;
}
.d-flex input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.d-flex button{
    border: none;

}


.container{
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
}

.left-sidebar{
    padding-right: 0%;
    flex-basis: 20%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}
.main-content{
    flex-basis: 77%;
}
.imp-links a, .shortcut-links a{
    text-decoration:none ;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.828);
    width: fit-content;
}

.imp-links a img{
    width: 25px;
    margin-right: 15px;

}
/* .imp-links a:last-child{
    color:#73247acc;
} */
.imp-links{
    border-bottom: 1px solid #ccc;

}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;

}
.shortcut-links p{
    margin:25px;
    color: #626262;
    font-weight: 500;
}
.event-bar{
    padding: 10px;
    margin-bottom: 5px;
    background-color: white;
    color: #626262;
    border-radius: 10px;
}
.eventbar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.eventbar-title h4{
    font-weight: 600;
    font-size: 16px;
}
.eventbar-title a{
    text-decoration: none;
    color: #73247acc;
    font-size: 12px;
}
.event {
    display: flex;
    font-size: 12px;
    margin-bottom: 20px;
}
.event h3{
    font-size: 12px;
}
.left-event{
    border-radius: 10px;
    height: 75px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.event p{
    font-size: 12px;
    
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #73247acc;
}

.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background:url(../images/background.jpg);
    font-size: 10px;
    color: rgb(12, 11, 11);
    padding: 2px 0;
}
.write-post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right:10px ;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.post-input-container{
    padding-top: 10px;
    padding-left: 55px;
}
.post-input-container textarea{
    width: 100%;
    height: 20px;
    border: 0;
    outline: 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.add-post-links{
    display: flex;
    margin-top: 10px;
    margin-left: 80%;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 0px;
    font-size: 13px;

}

.add-post-links a img{
    width: 20px;
    margin-right: 10px;

}
.post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;

}
.left-post-contents{
    flex-basis: 30%;
    position: sticky;
    top: 70px;
    align-self: flex-start;

    
}
.main-contents{
    flex-basis: 30%;

}
.right-post-contents{
    flex-basis: 30%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;

}
.post-text{
    color: #626262;
    font-weight: 500;

}
.post-text a{
    color: #73247acc;
    text-decoration: none;

}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
 #likeButton{
    border: none;
    background-color: transparent;
    cursor: pointer;
 }
 .like-button{
    background-image: url(../images/clickedfire.png);
    width: 17px;
    height: 17px;
 }
 .span, #likeCount{
    background-color: transparent;
 }
 .not-liked{
    background-image: url(../images/fire.png);
    width: 17px;
    height: 17px;

 }


.dropdown-item .settings-icons{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

.help-content{
    flex-basis: 77%;
}

.help-post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;

}
.help-post-container h3{
    font-size: 30px;
    text-align: center;
}
.help-post-container h2 {
    font-size: 28px;
}
.help-post-container a{
    text-decoration: none;
    color:#73247a;

}
.header_wrapper{
    width: 100%;

}
.header_wrapper .cols_container .left_col{
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
}
.header_wrapper .cols_container .left_col .img_container{
    top: -50%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    padding-left: 80%;
}

.header_wrapper .cols_container .left_col .img_container img{
    width: 120px;
    height: 120px;
    object-fit: 50%;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.2);

}

.header_wrapper .cols_container .left_col h2{
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
    
}

.header_wrapper .cols_container .left_col p{
    font-size: 0.9em;
    color: #818181;
    margin: 0;
}

.header_wrapper .cols_container .left_col .about{
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
}

.header_wrapper .cols_container .left_col .about li{
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9em;

}

.header_wrapper .cols_container .left_col .about li span {
    color: black;
    font-weight: 600;

}

.header_wrapper .cols_container .left_col .about::after{
    content: "";
    bottom: -16px;
    display: black;
    background:#ccc;
    height: 1px;
    width: 100%;
}

.header_wrapper .cols_container .content p{
    font-size: 1em;
    color: black;
    line-height: 1.8em; 
}
.header_wrapper .cols_container .content ul{
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.header_wrapper .cols_container .content ul li{
    font-size: 1.3em;
}

.header_wrapper .cols_container .right_col nav{
    display: flex;
    align-items: center;
    padding: 30px 0 ;
    justify-content: space-between;
    flex-direction: column;
}
.header_wrapper .cols_container .right_col nav ul{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.header_wrapper .cols_container .right_col nav ul li a{
    text-transform: uppercase;
    color: #818181;
}


.header_wrapper .cols_container .right_col nav ul li:nth-child(1) a{
    color: #1d1d1d;
    font-weight: 600;
}

.header_wrapper .cols_container .right_col nav button:hover{
    opacity: 0.8;
}
.header_wrapper .cols_container .right_col nav .photos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 20px;
}





